.footer{
    background-color: #1a120b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    
}
.row__footer{
    background-color: #3c2a21;
}

.iconos-footer{
    color: #e5e5cb;
    text-decoration: none;
}

.row__footer i{
    font-size: 1.5rem;
    margin: 0.5rem;
}


.title__footer{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #e5e5cb;
    font-family: 'Ribeye', cursive;
    
}