.nav_fondo{
    background-color: #f9e8f3;
    border-bottom: solid 2px #c17c74;
    border-top: solid 2px #c17c74;
}

#navbarNav{
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;

}

.icono-nav{
    margin-right: 0.3rem;
}